@page
@model IndexModel
@{    
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom styles for this page */
        .jumbotron {
            background: url('https://www.freepik.com/free-photo/abstract-digital-grid-black-background_13312417.htm#query=website%20background&position=0&from_view=keyword&track=ais') center center;
            background-size: cover;
            color: #fff;
            text-align: center;
            padding: 100px 0;
            margin-bottom: 0;
        }

        .jumbotron h1 {
            font-size: 3rem;
        }

        .jumbotron p {
            font-size: 1.5rem;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            padding: 12px 24px;
            font-size: 1.25rem;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="jumbotron">
        <h1>Faris Website</h1>
        <p class="lead">Welcome to my website, created using Azure Web Services</p>
        <a class="btn btn-primary" href="/login">Login</a>
    </div>
</body>
</html>
